Package: freegeek-build-utils
Version: 1.2.53
Architecture: all
Maintainer: Freegeek Coders <coders@freegeek.org>
Installed-Size: 137
Depends: ruby1.8, libtui-ruby (>= 1.11), lshw, libtui-ruby1.8 (>= 1.15), lsb-release, dmidecode | sparc | powerpc, ruby, pmount, alsa-utils, libgettext-ruby1.8, stress, cpufrequtils, dvd+rw-tools
Breaks: freegeek-extras (<= 1.2.5)
Section: utils
Priority: optional
Description: tools used in freegeek's build process
 Freegeek's diagnostic scripts.
