Source: freegeek-extras
Section: utils
Priority: optional
Maintainer: Freegeek Coders <coders@freegeek.org>
Uploaders: Martin Chase <stillflame@freegeek.org>, Vagrant Cascadian <vagrant@freegeek.org>, Ryan Niebur <ryanryan52@gmail.com>
Build-Depends: debhelper (>= 5.0.0), cdbs, bash-completion
Standards-Version: 3.8.0

Package: freegeek-extras
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby, libtui-ruby, freegeek-archive-keyring, lshw, cups | cupsys, stress, lsb-release, alsa-utils, pmount, libxml-simple-ruby | freegeek-xmlsimple (= ${binary:Version}), mtools, syslinux
Recommends: freegeek-pctel, oem-config
Description: Tools and customizations for freegeek users
 Freegeek's diagnostic scripts and some extra files and
 configuration settings.

Package: freegeek-xmlsimple
Architecture: all
Depends: ruby
Section: libs
Conflicts: libxml-simple-ruby
Description: The XmlSimple library
 Repackaged version for use by freegeek-extras because
 Ubuntu Dapper doesn't have it.
