#!/usr/bin/make -f
# -*- makefile -*-

build: build-stamp
build-stamp:
	dh build
	chmod +x po/compile.sh debian/generate_apt_lists
	po/compile.sh
	debian/generate_apt_lists
	touch build-stamp

clean:
	dh clean
	rm debian/*.list || true
	rm -fr locale

install: build install-stamp
install-stamp:
	dh install
	touch install-stamp

binary-arch: install
	dh binary-arch

binary-indep: install
	dh binary-indep

binary: binary-arch binary-indep
